body {
    font-family: 'Shadows Into Light', cursive;

    margin: 0;

  
  }
  p {
    color: lightcoral;
    font-size: 30px;
  }
  
  
  .header {
    padding: 80px;
    text-align: center;
    background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg")
    
    
  }
  
  
  .header h1 {
    font-size: 40px;
    font-size: 40px;
    border: solid;
    color: whitesmoke;
  }
  
  
  .navbar {
    overflow: hidden;
    background-color:blue;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  .navbar a.right {
    float: right;
  }
  
  
  .navbar a:hover {
    background-color: black;
    color: red;
  }
  html { 
    scroll-behavior: smooth;
  }
  /* Column container */
  /* .row {  
    display: -ms-flexbox; /* IE10 */
    /* display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    /* flex-wrap: wrap;
  } */
   
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  /* .side {
    -ms-flex: 30%; /* IE10 */
    /* flex: 30%;
 
    padding: 20px;
  
  
  /* Main column */
  /* .main {   
    -ms-flex: 70%; /* IE10 */
    /* flex: 70%;
    background-color: whitesmoke;
    padding: 20px;
  } */
   
  
  /* .fakeimg {
    
    width: 100%;
    padding: 20px;
    
  }  */ 
  
  /* Footer
  .footer {
    padding: 20px;
    text-align: center;
    background: red;
  } */
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  } */
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }  *

  body {
    margin: 0;
}

h2{
    text-transform: uppercase;
    padding: 15px;
    background-color: #000000cc;
    border: solid 2px white;
    border-radius: 20px;
    margin: 0.83em;
}
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.champ_container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: white 2px solid;
}

.zoe {
    color:#ea794e;
    background-image: url("../../assets/zoe.jpg");
}

.kaisa{
    color:#9959a2;
    background-image: url("../../assets/kaisa.jpg");
}

.ornn{
    color: #ce4379;
    background-image: url("../../assets/ornn.jpg");
}

/* SHOULD USE THE DOM AND JS TO ADD THIS */
/* .pyke{
    color: #92fdfe;
    background-image: url("../../assets/pyke.jpg");
}

footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: black;
    color: white;
    font-size: 3em;
}
  


